<!-- Navigation/TitleBar -->
<div>
  <mat-toolbar color='primary'>
    <span>Cryptocurrency Market Watch</span>
  </mat-toolbar>
</div>
<!-- Navigation/TitleBar  Ended -->
<mat-card>
<div class='Table'>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <br>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort >
      
          <!--Name  Column -->
          <ng-container matColumnDef="long">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.long}} </td>
          </ng-container>
      
          <!--Cap  Column -->
          <ng-container matColumnDef="mktcap">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Market Cap </th>
            <td mat-cell *matCellDef="let row">   {{row.mktcap   |currency : 'USD':'symbol-narrow':'1.0-3'}} </td>
          </ng-container>
      
          <!--Price  Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let row">   {{row.price   |currency : 'USD':'symbol-narrow':'1.0-3'}} </td>
          </ng-container>
      
          <!--VWAP  Column -->
          <ng-container matColumnDef="vwapData">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> VWAP </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.vwapData |currency : 'USD':'symbol-narrow':'1.0-3'}} </td>
          </ng-container>

          <!--Supply  Column -->
          <ng-container matColumnDef="supply">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Supply </th>
              <td mat-cell *matCellDef="let row"> {{row.supply  | number }} </td>
            </ng-container>
        
            <!--Volume  Column -->
            <ng-container matColumnDef="volume">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume </th>
              <td mat-cell *matCellDef="let row">  {{row.volume    |currency : 'USD':'symbol-narrow':'1.0-3'}} </td>
            </ng-container>
        
            <!--Percentage  Column -->
            <ng-container matColumnDef="perc">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Percentage </th>
              <td mat-cell *matCellDef="let row"> {{row.perc  }}% </td>
            </ng-container>
        
            <!--Trade  Column -->
            <ng-container matColumnDef="shapeshift">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Trade </th>
              <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{trades(row.shapeshift)}} </td>
            </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25, 30, 40, 50, 100, 200, 300 ,400 , 500, 1000, 1500]" showFirstLastButtons ></mat-paginator>
      </div>
</div>
</mat-card>